.space{
	height: 10px;
}

.com-input{
	width: 200px;
	padding: 12px;
	margin: 20px;
	box-sizing: border-box;
}

.com-img{
	height:  200px;
	width:  200px;
	border-radius: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p{
	font-family: monospace;
	color: rosybrown;
}

h4{
	font-family: monospace;
	color: sandybrown;
}

li{
	font-family: monospace;
	color: rosybrown;
}

.grey-font{
	color: dimgrey;
}


textarea{
	height: 300px;
}